
:root {
  --h1-size: 3rem;
  --h2-size: 2rem;
  --section-border-top: 10px solid black;
  
  --header-background: #B7999C;
  --content-background: #F6B6BC;
  
}

#content {
}

html { 

}


body {
  font-family: 'AvaraBold', sans-serif;
}




#root {
  /*
  background: url('../pexels-pixabay-262047.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: var(--h1-size);
}
h2 {
  font-size: var(--h2-size);
}
#content {

  opacity: .7;
  padding: 10px;
  margin-top: 20px;
  width: 800px;
  height: 1000px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
}



/*
HEADER CSS START
*/

header {
  width: 500px;
  padding: 10px;
  border-bottom: var(--section-border-top);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

button {
  font-size: 2.5rem;
  border: none;
  font-family: inherit;
  background-color: inherit;
}

button:hover {
}

/*
HEADER CSS END
*/

/*
HOME CSS START
*/
#restaurant-name {
  margin-top: 20px;
}

#about-div, #hours-div, #location-div {
  width: 500px;
  margin: 0 auto;
  padding-top: 20px;
  border-top: var(--section-border-top);
}

#about-div p {
  margin: 0 auto;
  width: 500px;
  text-align: left;
}

#about-div h2, #hours-div h2, #location-div h2 {
  margin-bottom: 20px;
}

#hours-div {
}

#hours-div p {
  margin: 0 auto;
  width: 300px;
}

/*
HOME CSS END
*/

/*
MENU CSS START
*/
#chef-div, #cocktail-div, #desert-div {
  margin: 0 auto;
  width: 500px;
  text-align: left;
  padding-top: 20px;
  border-top: var(--section-border-top);
}


#chef-div h2, #cocktail-div h2, #desert-div h2 {
  text-align: center;  
}

h1 {
  margin-top: 20px;
}

.menu-item-name {
  font-size: 1.2rem;
  margin-top: 10px;
}

.menu-item-price {
  font-size: .9rem;
}

.menu-item-description {
  font-size: .8rem;
}

.menu-item {
  border-bottom: 5px dotted black;
}

.menu-item-name, .menu-item-price, .menu-item-description {
  margin-bottom: 10px;
}

#chef-div .menu-item:last-child {
  border: none;
}

/*
MENU CSS END
*/